$skin: '';
$font-family: 'Segoe UI';
$font-size: 12px;
$font-weight: normal;
$font-path: 'common-images';
$header-bg-color: #000;
$header-gradient-color: none;
$header-border-color: #808080;
$header-font-color: #fff;
$header-icon-color: #fff;
$content-bg-color: #000;
$content-border-color: #808080;
$content-font-color: #dbdb00;
$default-bg-color: #000;
$default-gradient-color: none;
$default-border-color: #808080;
$default-font-color: #fff;
$default-icon-color: #fff;
$hover-bg-color: #008000;
$hover-gradient-color: none;
$hover-border-color: #fff;
$hover-font-color: #fff;
$hover-icon-color: #fff;
$active-bg-color: #008000;
$active-gradient-color: none;
$active-border-color: #fff;
$active-font-color: #fff;
$active-icon-color: #fff;
$error-font-color: #ee2924;
$warning-font-color: #ffca1c;
$success-font-color: #22b24b;
$information-font-color: #489bd5;
$overlay-bg-color: #383838;
$shadow-color: rgba(0, 0, 0, .4);
$border-size: 1px;
$border-type: solid;
$border-radius: 0;
$border-left-radius: 0;
$border-right-radius: 0;
$border-top-radius: 0;
$border-bottom-radius: 0;
