@if not variable-exists('is-roboto-loaded') {
  // sass-lint:disable no-url-protocols,no-url-domains
  @import url('//fonts.googleapis.com/css?family=Roboto:400,500');
}
$is-roboto-loaded: 'true';

$skin: '';
$font-family: 'Roboto';
$font-size: 12px;
$font-weight: normal;
$font-path: 'common-images';
$header-bg-color: #4caf50;
$header-gradient-color: none;
$header-border-color: #d3d3d3;
$header-font-color: #fff;
$header-icon-color: #fff;
$content-bg-color: #fff;
$content-border-color: #d3d3d3;
$content-font-color: #212121;
$default-bg-color: #f2f2f2;
$default-gradient-color: none;
$default-border-color: #d3d3d3;
$default-font-color: #212121;
$default-icon-color: #212121;
$hover-bg-color: #c8e6c9;
$hover-gradient-color: none;
$hover-border-color: #c8e6c9;
$hover-font-color: #212121;
$hover-icon-color: #212121;
$active-bg-color: #388e3c;
$active-gradient-color: none;
$active-border-color: #d3d3d3;
$active-font-color: #fff;
$active-icon-color: #fff;
$error-font-color: #ee2924;
$warning-font-color: #ffca1c;
$success-font-color: #22b24b;
$information-font-color: #489bd5;
$overlay-bg-color: #383838;
$shadow-color: rgba(0, 0, 0, .4);
$border-size: 1px;
$border-type: solid;
$border-radius: 0;
$border-left-radius: 0;
$border-right-radius: 0;
$border-top-radius: 0;
$border-bottom-radius: 0;

$accent: #ff4081;
$accent-font: #fff;
$primary: #3f51b5;
$primary-50: #e8eaf6;
$primary-100: #c5cae9;
$primary-200: #9fa8da;
$primary-300: #7986cb;
$primary-font: #fff;
$primary-50-font: #000;
$primary-100-font: #000;
$primary-200-font: #000;
$primary-300-font: #fff;
$grey-white: #fff;
$grey-black: #000;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;
$grey-dark: #303030;
$grey-light-font: #000;
$grey-dark-font: #fff;
$base-font: #000;
$error-font: #f44336;
