$skin: '';
$font-family: 'Segoe UI';
$font-size: 12px;
$font-weight: normal;
$font-path: 'common-images';
$header-bg-color: #fff;
$header-gradient-color: none;
$header-border-color: #c8c8c8;
$header-font-color: #212121;
$header-icon-color: #666;
$content-bg-color: #fff;
$content-border-color: #c8c8c8;
$content-font-color: #1e1e1e;
$default-bg-color: #fff;
$default-gradient-color: none;
$default-border-color: #c8c8c8;
$default-font-color: #1e1e1e;
$default-icon-color: #666;
$hover-bg-color: #eaeaea;
$hover-gradient-color: none;
$hover-border-color: #eaeaea;
$hover-font-color: #070707;
$hover-icon-color: #666;
$active-bg-color: #0078d7;
$active-gradient-color: none;
$active-border-color: #0078d7;
$active-font-color: #fff;
$active-icon-color: #fff;
$error-font-color: #ee2924;
$warning-font-color: #ffca1c;
$success-font-color: #22b24b;
$information-font-color: #489bd5;
$overlay-bg-color: #383838;
$shadow-color: rgba(0, 0, 0, .4);
$border-size: 1px;
$border-type: solid;
$border-radius: 4px;
$border-left-radius: 4px;
$border-right-radius: 4px;
$border-top-radius: 4px;
$border-bottom-radius: 4px;
